/* .card {
  width: 30%;
} */
.dp {
  position: relative;
  right: 3px;
  bottom: 70px;
}

/* 3 cards */
@media (min-width: 1024px) {
  .card {
    width: 31%;
  }
}
/* 2 cards */
@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: 40%;
    margin-top: 20px;
    margin-right: auto;
  }

  .secCol {
    margin-left: auto;
    /* border: 2px solid purple; */
  }

  .thirdCol {
    margin-top: 70px;
  }
}

/* single cards */
@media (max-width: 768px) {
  .cards {
    margin-top: 0px;
  }
  .card {
    margin-top: 55px;
  }
}
